.home_container {
  background: #1e1e1e;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.dot_top {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(50%);
}
.dot_left {
  position: absolute;
  left: 30px;
  top: 20%;
  transform: translateY(50%);
}
.dot_right {
  position: absolute;
  right: 30px;
  bottom: 80px;
}
.home_content {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.text_section {
  max-width: 600px;
  animation: contentFade 2s ease backwards;
}
@keyframes contentFade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.vintage {
  font-family: cursive;
  font-size: 49px;
  font-style: italic;
  color: #ffffff;
  transform: rotate(-5deg);
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 18px;
}

.sneakers {
  font-size: 130px;
  font-weight: 900;
  color: #ffc400;
  transform: rotate(-5deg);
  margin: -60px 0 0 0;
}

.sale {
  font-size: 130px;
  font-weight: 900;
  color: #ffffff;
  transform: rotate(-5deg);
  margin-top: -80px;
  margin-left: 360px;
  margin-bottom: 10px;
}

.subtitle {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  font-size: 16px;
  color: #cccccc;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
}
.btn {
  background: #ffc400;
  color: #000;
  border: none;
  padding: 14px 36px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
.image_section {
  position: relative;
}
.circle {
  position: absolute;
  width: 540px;
  height: 540px;
  background: #ffc400;
  border-radius: 50%;
  transform: rotate(-40deg);
  top: 5px;
  right: 0px;
  border: 5px solid rgb(125, 97, 3);
  animation: circleZoom 2s ease;
}
@keyframes circleZoom {
  from {
    transform: scale(0.8) rotate(-40deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(-40deg);
    opacity: 1;
  }
}

.shoe_img {
  position: absolute;
  top: -160px;
  right: -30px;
  width: 840px;
  transform: rotate(-5deg);
  filter: drop-shadow(0 25px 35px rgba(0, 0, 0, 0.4));
  animation: shoeSlide 0.7s ease-in-out;
}
@keyframes shoeSlide {
  0% {
    opacity: 0;
    transform: translateX(120px) rotate(-5deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(-5deg);
  }
}
.next_btn {
  position: absolute;
  right: 100px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
  background: #8b8b8b;
  color: #000;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next_btn:hover {
  background: #ffc400;
}
.slider_controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: flex;
  gap: 12px;
}
.dot {
  width: 18px;
  height: 6px;
  background: #6b6b6b;
  border-radius: 10px;
  opacity: 0.6;
}
.active {
  width: 38px;
  background: #ffffff;
  opacity: 1;
}


