/* body{
    background-color: black;
} */
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
 }
 .navlinks{
    display: flex;
    gap: 35px;
    cursor: pointer;
 }
 .navlinks a{
      text-decoration: none;
      color: white;
      font-size: 16px;
 }
 .shopbtn{
   background: #ffc400;
  color: #000;
  border: none;
  padding: 14px 36px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
 }