.page {
  background-color: #FFC107;
  min-height: 80vh;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}
.title {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 900;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #FFC107;
  border-radius: 18px;
  padding: 20px;
  box-shadow:
    inset 5px 5px 10px #e0a800,
    inset -5px -5px 10px #ffd84d;
}

.image {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.name {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.sub {
  font-size: 12px;
  color: #333;
}

.price {
  font-weight: bold;
  font-size: 13px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.dot {
  width: 15px;
  height: 6px;
  background: #fff;
  border-radius: 10px;
}


