.page {
  background-color: #FFC107;
  min-height: 80vh;
  padding: 30px;
  font-family: Arial, sans-serif;
  padding-top: 100px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}
.title {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 900;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #FFC107;
  border-radius: 18px;
  padding: 20px;
  box-shadow:
    inset 5px 5px 10px #e0a800,
    inset -5px -5px 10px #ffd84d;
  animation: cardFadeUp 0.8s ease forwards;
}
@keyframes cardFadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow:
    0 20px 30px rgba(0,0,0,0.25),
    inset 3px 3px 8px #e0a800,
    inset -3px -3px 8px #ffd84d;
}
.image {
  width: 100%;
  height: 120px;
  object-fit: contain;
  transition: transform 0.4s ease;
}
.card:hover .image {
  transform: scale(1.08) rotate(-2deg);
}

.name {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.sub {
  font-size: 12px;
  color: #333;
}

.price {
  font-weight: bold;
  font-size: 13px;
}
.price {
  transition: color 0.3s ease, transform 0.3s ease;
}

.card:hover .price {
  color: #000;
  transform: scale(1.05);
}


.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.dot {
  width: 15px;
  height: 6px;
  background: #fff;
  border-radius: 10px;
}


