.page {
  background: #FFC107;
  min-height: 100vh;
  padding: 40px 60px;
  font-family: Arial, sans-serif;
}

.brand {
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroText {
  max-width: 520px;
}

.title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}

.desc {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button {
  background: #222;
  color: #fff;
  padding: 15px 40px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}

.heroImage {
  width: 420px;
  position: absolute;
  right: 40px;
  top: 40px;
  transform: rotate(18deg);
  filter: drop-shadow(20px 30px 20px rgba(0,0,0,0.35));
  pointer-events: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.testTitle {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin: 60px 0 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: #FFD54F;
  padding: 30px;
  border-radius: 18px;
}

.dark {
  background: #222;
  color: #fff;
}

.quote {
  font-size: 40px;
  font-weight: bold;
}

.cardText {
  font-size: 14px;
  line-height: 1.5;
  margin: 20px 0;
}

.user {
  font-weight: bold;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.dot {
  width: 16px;
  height: 6px;
  background: #fff;
  border-radius: 10px;
  opacity: 0.6;
}

.dotActive {
  width: 30px;
  height: 6px;
  background: #fff;
  border-radius: 10px;
}
